/* ==========================================================================
   Стили страници сервисной страницы
   ========================================================================== */
body {
    background-image: url("../img/bg.png");
}
header {
    margin-top: 10px;
    margin-bottom: 10px;
}
.order_item {
    background-color: #eee;
    box-shadow: 2px 2px 2px #aaa;
}
.order_item_controls {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 30px;
}
.status_new {
    background-color: #D43F3A;
    height: 3px;
}